spring:
  application:
    name: userservice

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  redis:
    host: localhost
    port: 6379

  cache:
    type: redis

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml